<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    {% if mainpage %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    {% endif %} 
    {% if title %}
    <title>{{ title }} — Проект «Голоса»</title>
    {% else %}
    <title>Проект «Голоса»</title>
    {% endif %}
  </head>
  <body>
    <div class="wrapper">
      <div class="main-container">
        <!-- Header -->
        <header class="header main-container__row">
          <nav class="header-menu">
            <div class="header-menu__logo logo logo_outlined">Голоса</div>
            <ul class="header-menu__items">
              {% for entry in menu %}
              <li class="header-menu__item">
                {% if url_for(entry.url) == request.path %}
                  <a href="{{ url_for(entry.url) }}" class="link_active">{{ entry.name }}</a>
                {% else %}
                <a href="{{ url_for(entry.url) }}" class="link">{{ entry.name }}</a>
                {% endif %}
              </li>
              {% endfor%}
            </ul>
          </nav>
        </header>

        <!-- Content -->
        {% block content %}{% endblock %}

        <footer class="footer main-container__row">
          <nav class="footer-menu">
            <div class="footer-menu__logo logo">Голоса</div>
            <ul class="footer-menu__items">
                {% for entry in menu %}
                <li class="footer-menu__item">
                    {% if url_for(entry.url) == request.path %}
                    <a href="{{ url_for(entry.url) }}" class="link_active">{{ entry.name }}</a>
                    {% else %}
                    <a href="{{ url_for(entry.url) }}" class="link">{{ entry.name }}</a>
                    {% endif %}
                </li>
                {% endfor%}
            </ul>
          </nav>
          <hr class="divider divider_35" />
        </footer>
      </div>
    </div>
  </body>
</html>
